.root {
  width: 100vw;
  height: 100vh;
  position: relative;

  &,
  * {
    &,
    &::before,
    &::after {
      overflow-wrap: break-word;
      box-sizing: border-box;
      overflow: hidden;
    }
  }
}
